/********************************************
 * FONT IMPORT
 *******************************************/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/********************************************
 * VARIABLES
 *******************************************/

:root {
  /***** Colours *****/
  --colour-neutral-100: hsl(0, 0%, 100%);
  --colour-neutral-500: hsl(228, 12%, 48%);
  --colour-neutral-900: hsl(212, 21%, 14%);

  --colour-primary-100: hsl(30, 38%, 92%);
  --colour-primary-500: hsl(158, 36%, 37%);

  --colour-bg: var(--colour-primary-100);
  --colour-copy: var(--colour-neutral-500);
  --colour-heading: var(--colour-neutral-900);
  --colour-price: var(--colour-primary-500);
  --colour-btn: var(--colour-neutral-100);

  /***** Transitions & Animation *****/
  --transition: 150ms ease-in-out;

  /***** Border *****/
  --border-radius: 10px;

  /***** Typography *****/
  --leading-copy: 23px;
  --leading-heading: 32px;
  --leading-price: var(--leading-heading);
  --leading-cat: 15px;
  --leading-btn: 18px;

  --tracking-copy: 0;
  --tracking-heading: 0;
  --tracking-price: 0;
  --tracking-cat: 5px;
  --tracking-btn: 0;

  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-weight-copy: var(--font-weight-medium);
  --font-weight-heading: var(--font-weight-bold);
  --font-weight-price: var(--font-weight-heading);
  --font-weight-cat: var(--font-weight-copy);
  --font-weight-btn: var(--font-weight-bold);

  --font-size-copy: 0.875rem; /* 14px */
  --font-size-heading: 2rem; /* 32px */
  --font-size-price: var(--font-size-heading);
  --font-size-cat: 0.75rem; /* 12px */
  --font-size-btn: var(--font-size-copy);

  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Fraunces', serif;
  --font-family-copy: var(--font-family-primary);
  --font-family-heading: var(--font-family-secondary);
  --font-family-price: var(--font-family-heading);
  --font-family-cat: var(--font-family-copy);
  --font-family-btn: var(--font-family-copy);

  /***** Product Card *****/
  --product-card-width: 21.4375rem;
  --product-card-max-width: 28.125rem;
  --product-card-radius: var(--border-radius);

  --product-details-padding: 1.5rem;
  --product-details-bg: var(--colour-neutral-100);
}

/********************************************
 * RESET
 *******************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/********************************************
 * GLOBALS
 *******************************************/

html,
body {
  display: grid;
  place-content: center;
  background-color: var(--colour-bg);
  font-family: var(--font-family-primary);
}

h1 {
  color: var(--colour-heading);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
  font-family: var(--font-family-heading);
}

p {
  color: var(--colour-copy);
  line-height: var(--leading-copy);
  letter-spacing: var(--tracking-copy);
  font-weight: var(--font-weight-copy);
  font-size: var(--font-size-copy);
  font-family: var(--font-family-copy);
}

s {
  font-size: 0.8125rem;
}

/********************************************
 * PRODUCT CARD
 *******************************************/

.product-card {
  width: var(--product-card-width);
  max-width: var(--product-card-max-width);
  margin-inline: auto;
  border-radius: var(--product-card-radius);
}

/* PRODUCT IMAGE
 *******************************************/
.product-img img {
  border-top-right-radius: var(--product-card-radius);
  border-top-left-radius: var(--product-card-radius);
}

/* Product Details
 *******************************************/
.product-details {
  padding: var(--product-details-padding);
  border-bottom-right-radius: var(--product-card-radius);
  border-bottom-left-radius: var(--product-card-radius);
  background-color: var(--product-details-bg);
  color: var(--colour-copy);
}

.product-details span {
  line-height: var(--leading-cat);
  letter-spacing: var(--tracking-cat);
  text-transform: uppercase;
  font-size: var(--font-size-cat);
}

.product-details h1 {
  margin-top: 0.75rem;
}

.product-details p {
  margin-top: 1.0625rem;
}
