/********************************************
 * FONT IMPORT
 *******************************************/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/********************************************
 * VARIABLES
 *******************************************/

:root {
  /***** Colours *****/
  --colour-neutral-100: hsl(0, 0%, 100%);
  --colour-neutral-500: hsl(228, 12%, 48%);
  --colour-neutral-900: hsl(212, 21%, 14%);

  --colour-primary-100: hsl(30, 38%, 92%);
  --colour-primary-500: hsl(158, 36%, 37%);

  --colour-bg: var(--colour-primary-100);
  --colour-copy: var(--colour-neutral-500);
  --colour-heading: var(--colour-neutral-900);
  --colour-price: var(--colour-primary-500);
  --colour-btn: var(--colour-neutral-100);
}

/********************************************
 * RESET
 *******************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
